<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="../public/image/803233-Photoroom.png">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Oxanium:wght@200..800&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="../css/base.css">
    <link rel="stylesheet" href="../css/login.css">
    <link rel="icon" href="">   
    <title>Anonymous</title>
</head>
<body>
    <video autoplay muted loop id="bg-video">
        <source src="../public/video/4990233-hd_1920_1080_30fps.mp4" type="video/mp4">
    </video>
    <div id="overlay"></div>
    <div class="login-size">
        <div class="login-icon-title">
            <div class="icon">
                <img src="../public/image/803233-Photoroom.png" alt="logo">
            </div>
            <h1>Anonymous Manager Issues</h1>
        </div>
        <div class="contanier">
            <div class="login-contanier">
                <form action="">
                    <div class="user input">
                        <label for="user">User:</label>
                        <input name="user" type="text" placeholder="Insert your user">
                    </div>
                    <div class="password input">
                        <label for="password">Password:</label>
                        <input name="password"type="password" placeholder="Don't tell anyone or someting bad will happen to you">
                    </div>
                    <button type="submit">
                        Sign In
                        <svg xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 -960 960 960" width="24px" fill="#FFFFFF"><path d="M647-440H160v-80h487L423-744l57-56 320 320-320 320-57-56 224-224Z"/></svg>
                    </button>
                </form>
                <p class="muted-text">Keep the secret</p>
            </div>
        </div>
    </div>
</body>
</html>